{
  "presets": ["next/babel"],
  "plugins": [
    "inline-dotenv",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],[
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}